[Unit]
Description=Initialize and mount /rw and /home
# Wait for the private storage device to appear.
# The qubes/private symlink is created by udev for both xvdb (Xen) and vdb (KVM).
After=qubes-sysinit.service dev-qubes-private.device
After=systemd-fsck@dev-qubes-private.service
DefaultDependencies=no
Before=local-fs.target rw.mount usr-local.mount home.mount qubes-gui-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/mount-dirs.sh
# There is no need for an ExecStop because systemd
# cleans up mount units in the right order, killing
# processes as needed.

[Install]
WantedBy=multi-user.target
